@import 'the-new-css-reset';

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_slnt,wght.woff2')
    format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-variation-settings: 'slnt' -10 0;
  font-display: optional;
}

@font-face {
  font-family: 'Inter-fallback';
  size-adjust: 107%;
  ascent-override: 90%;
  src: local('Arial');
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora/Lora-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: normal;
  font-weight: 400 700;
  font-display: optional;
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/lora/Lora-Italic-VariableFont_wght.woff2')
    format('woff2-variations');
  font-style: italic;
  font-weight: 400 700;
  font-display: optional;
}

@font-face {
  font-family: 'Lora-fallback';
  size-adjust: 115.67999999999995%;
  ascent-override: 83%;
  src: local('Times New Roman');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.woff2')
    format('woff2-variations');
  font-style: normal;
  font-weight: 200 900;
  font-stretch: 20% 200%;
  font-display: optional;
}

@font-face {
  font-family: 'Inconsolata-fallback';
  size-adjust: 111.88%;
  ascent-override: 65%;
  src: local('Arial');
}

.app.light {
  --primary-text-color: hsl(0, 0%, 46%);
  --secondary-text-color: hsl(0, 0%, 18%);
  --bg-color: var(--white);
  --secondary-bg-color: #f4f4f4;
  --heading-color: hsl(0, 0%, 18%);
  --moon-path: hsl(0, 0%, 46%);
  --select-menu: var(--white);
  --box-shadow: 0px 5px 30px hsla(0, 0%, 0%, 0.1);
  --horizontal-divider: hsl(0, 0%, 23%);
}

.app.dark {
  --primary-text-color: var(--white);
  --secondary-text-color: var(--white);
  --bg-color: #050505;
  --secondary-bg-color: #1f1f1f;
  --heading-color: var(--white);
  --moon-path: var(--purple);
  --select-menu: hsl(0, 0%, 12%);
  --box-shadow: 0px 5px 30px var(--purple);
  --horizontal-divider: hsl(0, 0%, 91%);
}

.app {
  --purple: hsl(274, 82%, 60%);
  --white: hsl(0, 0%, 100%);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Lora', 'Lora-fallback', serif;
  padding: 1.5rem;
  background-color: var(--bg-color);
}

h1,
h2,
::placeholder {
  color: var(--secondary-text-color);
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  & .logo {
    width: 1.7531rem;
    height: 2rem;
  }

  & .ui-controls {
    display: flex;
    align-items: center;
    color: var(--heading-color);
  }

  & .vertical-divider {
    height: 2rem;
    width: 0.0625rem;
    background-color: #e9e9e9;
    margin: 0 1rem;
  }

  & .moon path {
    stroke: var(--moon-path);
  }
}

input[type='search'] {
  background: var(--secondary-bg-color) url('./assets/images/icon-search.svg')
    no-repeat right 16.45px center;
  padding: 14px 24px 15px;
  font-weight: 700;
  transition: ease-in-out 450ms;
  width: 327px;
  max-height: 48px;
  margin: 0 auto;
  border-radius: 16px;
  color: var(--placeholder);
}

::placeholder {
  opacity: 25%;
  color: var(--placeholder);
}

.phonetics {
  color: #a445ed;
}

.play:hover,
.play:focus {
  cursor: pointer;

  & circle {
    opacity: 1;
  }

  & path {
    fill: #ffffff;
  }
}

.part-of-speech {
  display: flex;
  align-items: center;
  /* padding-inline: 24px; */

  & h2 {
    padding-inline-end: 16px;
  }

  & .horizontal-divider {
    height: 1px;
    width: 100%;
    background-color: var(--divider);
    margin: 24px 0;
    transition: ease-in-out 450ms;
  }
}

.synonyms li {
  color: #a445ed;
}
